#sidebar-container{
	position: fixed;
	right: 0%;
	list-style-type: square;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li{
	margin: 5px 0;
}

#sidebar ul li a{
	display: block;
	background-color: olive;
	padding: 15px 0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 100;
	padding: 10px 0 8px 0;
	border-radius: 5px;
	
	text-decoration: none;
}

#sidebar ul li a:hover{
	text-decoration: underline; 
}