body {
	background-color: #42F58A;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#main {
	float: left; 
	width: 650px;
	margin: 0 20px;
}

#interests {
	float: left;
	width: 250px;
	margin: 0 20px 0 0;
}


header {
	height: 100px;
	text-align: center;
	clear: both;
}

.contain {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

#header-container {
	position: relative;
	background-color: ##F08B1F;
}

#sidebar-container{
	position: fixed;
	right: 0%;
	list-style-type: square;
	padding: 0;
	margin: 0;
	overflow: hidden;
	color: blue;
	float: right;
	height: 100%;
}

#sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li{
	margin: 10px 0;
}

#sidebar ul li a{
	display: block;
	background-color: #C40A0A;
	padding: 25px 0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 100;
	padding: 10px 0 16px 0;
	border-radius: 5px;
	text-decoration: none;
}

#sidebar ul li a:hover{
	text-decoration: underline; 
}

footer {
  padding-top: 15px;
  padding-bottom: 20px;
  height: 80px;
  color: black;
  text-align: center;
  line-height: 10px;
  clear: both;
  background-color: #C40A0A;
  width: 100%;
  font: bold;
  font-size: 15px;
}
