#sidebar-container{
	position: fixed;
	right: 0%;
	list-style-type: square;
	padding: 0;
	margin: 0;
	overflow: hidden;
	color: blue;
	float: right;
}

#sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li{
	margin: 10px 0;
}

#sidebar ul li a{
	display: block;
	background-color: blue;
	padding: 25px 0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 100;
	padding: 10px 0 16px 0;
	border-radius: 5px;
	text-decoration: none;
}

#sidebar ul li a:hover{
	text-decoration: underline; 
}

footer {
  padding-top: 15px;
  padding-bottom: 20px;
  height: 75px;
  color:black;
  text-align: center;
  line-height: 10px;
  clear:both;
  background-color: blue;
}

.title {
    position: relative;
    $stroke-width: $extra-large * 0.05;
    font-family: 'Pacifico', cursive;
    text-transform: uppercase;
    font-size: $extra-large;
    color: lighten($pink, 25%);
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: lighten($pink, 5%);
    @include center;
    text-shadow: 0 0 40px lighten($pink, 5%),
                 0 0 40px lighten($pink, 5%),
                 0 0 40px lighten($pink, 5%);
    &:after {
      content: $random-text;
      z-index: -1;
      position: absolute;
      color: transparent;
      -webkit-text-stroke-width: $stroke-width;
      -webkit-text-stroke-color: darken($pink, 40%);
      top: -5%;
      left: -0.5%;
      
    }
  }