body {
	background-color: #157998;
}

h1 {
	font-family: 'Faster One', cursive;
	font-weight: 400;
}

h2, h3, h4 {
	font-family: 'Bungee Inline', cursive;
	font-weight: 400;
}

p {
	font-family: 'Merriweather', serif;
}

#bxslider {
	align: center;
}

#map {
	margin: auto;
	height: 500px;
	width: 700px;
}

#wrappermap {
	width: 850px;
	height: 600px;
	background-color: #c00;
	margin: 0 auto;
	overflow: hidden;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

#main {
	float: left; 
	width: 450px;
	margin: 0 20px;
}

#interests {
	float: right;
	width: 250px;
	margin: 0 20px 0 0;
}

#big-header {
	background-color: #F08B1F;
	height: 100px;
	text-align: center;
	clear: both;
}

#header-container {
	position: relative;
	
}

#sidebar-container{
	position: fixed;
	right: 0%;
	list-style-type: square;
	padding: 0;
	margin: 0;
	overflow: hidden;
	color: blue;
	float: right;
	height: 100%;
}

#sidebar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#sidebar ul li{
	margin: 10px 0;
}

#sidebar ul li a{
	display: block;
	background-color: #C40A0A;
	padding: 25px 0;
	color: #fff;
	font-weight: bold;
	text-align: center;
	width: 100px;
	padding: 10px 0 16px 0;
	border-radius: 5px;
	text-decoration: none;
}

#pobedka img {
	max-width: 200px;
	max-height: 200px;
}

#sidebar ul li a:hover{
	text-decoration: underline; 
}

footer {
  padding-top: 15px;
  padding-bottom: 20px;
  height: 80px;
  color: black;
  text-align: center;
  line-height: 10px;
  clear: both;
  background-color: #C40A0A;
  width: 100%;
  font: bold;
  font-size: 15px;
  bottom: 0;
}

#contact {
	float: left;
	width: 22.5%;
	margin: 0 0 0 2.5%;
}

#education {
	float: left;
	width: 45%;
	margin: 0 2.5%;
}

#work {
	float: left;
	width: 22.5%;
	margin: 0 2.5% 0 0;
}